In [1]:
import pandas as pd

In [2]:
import utils.reschedule.sequence_tester as seq_tester

In [3]:
file_template = "data/{prefix}_schedule_{day:02d}.csv"

In [4]:
file = "data/07_tardiness_init_plan.csv"

In [5]:
df_plan_init =  pd.read_csv(file)
df_plan_init = df_plan_init.sort_values(by=["Arrival", "Start"]).reset_index(drop=True)
df_plan_init

,Job,Operation,Arrival,Deadline,Machine,Start,Processing Time,End,Tardiness
0,Job_000,0,0.00,1069.346415,M0,0.00,29.0,29.00,0.0
1,Job_000,1,0.00,1069.346415,M1,29.00,78.0,107.00,0.0
2,Job_000,2,0.00,1069.346415,M2,107.00,9.0,116.00,0.0
3,Job_000,3,0.00,1069.346415,M3,116.00,36.0,152.00,0.0
4,Job_000,4,0.00,1069.346415,M4,152.00,49.0,201.00,0.0
...,...,...,...,...,...,...,...,...,...
595,Job_150,5,11404.04,12473.386415,M5,11605.04,11.0,11616.04,0.0
596,Job_150,6,11404.04,12473.386415,M6,11616.04,62.0,11678.04,0.0
597,Job_150,7,11404.04,12473.386415,M7,11678.04,56.0,11734.04,0.0
598,Job_150,8,11404.04,12473.386415,M8,11734.04,44.0,11778.04,0.0
599,Job_150,9,11404.04,12473.386415,M9,11778.04,21.0,11799.04,0.0

## Bicriterial

In [7]:
file = file_template.format(prefix="07a",day=1)
file

'data/07a_schedule_01.csv'

In [8]:
df_plan_01_bic = pd.read_csv(file)
df_plan_01_bic = df_plan_01_bic.sort_values(by=["Arrival", "Start"]).reset_index(drop=True)
df_plan_01_bic

,Job,Operation,Arrival,Deadline,Machine,Start,Processing Time,End,Tardiness
0,Job_002,9,152.78,1690.473072,M4,1539.60,33.0,1572.60,0.0
1,Job_003,3,207.97,1981.190004,M4,1440.00,99.0,1539.00,0.0
2,Job_003,4,207.97,1981.190004,M6,1539.00,9.0,1548.00,0.0
3,Job_003,5,207.97,1981.190004,M8,1548.00,52.0,1600.00,0.0
4,Job_003,6,207.97,1981.190004,M7,1600.00,85.0,1685.00,0.0
...,...,...,...,...,...,...,...,...,...
728,Job_150,5,11404.04,12473.386415,M5,11605.04,11.0,11616.04,0.0
729,Job_150,6,11404.04,12473.386415,M6,11616.04,62.0,11678.04,0.0
730,Job_150,7,11404.04,12473.386415,M7,11678.04,56.0,11734.04,0.0
731,Job_150,8,11404.04,12473.386415,M8,11734.04,44.0,11778.04,0.0
732,Job_150,9,11404.04,12473.386415,M9,11778.04,21.0,11799.04,0.0

In [9]:
file = file_template.format(prefix="07a",day=2)
df_plan_02_bic = pd.read_csv(file)

file = file_template.format(prefix="07a",day=3)
df_plan_03_bic = pd.read_csv(file)

### Vergleich (Kendall Tau)

In [11]:
df_compare_01 = seq_tester.analyze_machine_sequences(df_plan_init, df_plan_01_bic, 1440)
df_compare_01

,original_sequence,revised_sequence_raw,revised_sequence,changed,kendall_tau
Machine,,,,,
M0,"[Job_017, Job_019, Job_011, Job_016, Job_023, ...","[Job_012, Job_017, Job_019, Job_011, Job_023, ...","[Job_017, Job_019, Job_011, Job_023, Job_016, ...",True,0.998150
M1,"[Job_017, Job_019, Job_016, Job_013, Job_018, ...","[Job_010, Job_017, Job_019, Job_013, Job_016, ...","[Job_017, Job_019, Job_013, Job_016, Job_018, ...",True,0.996454
M2,"[Job_012, Job_017, Job_019, Job_013, Job_008, ...","[Job_012, Job_017, Job_013, Job_019, Job_008, ...","[Job_012, Job_017, Job_013, Job_019, Job_008, ...",True,0.996599
M3,"[Job_008, Job_017, Job_003, Job_019, Job_013, ...","[Job_015, Job_009, Job_008, Job_017, Job_003, ...","[Job_008, Job_017, Job_003, Job_019, Job_013, ...",False,1.000000
M4,"[Job_003, Job_009, Job_010, Job_017, Job_012, ...","[Job_003, Job_002, Job_015, Job_010, Job_017, ...","[Job_003, Job_010, Job_017, Job_009, Job_012, ...",True,0.996983
M5,"[Job_008, Job_017, Job_013, Job_019, Job_003, ...","[Job_010, Job_008, Job_017, Job_013, Job_003, ...","[Job_008, Job_017, Job_013, Job_003, Job_019, ...",True,0.996735
M6,"[Job_003, Job_015, Job_010, Job_017, Job_008, ...","[Job_003, Job_010, Job_017, Job_008, Job_015, ...","[Job_003, Job_010, Job_017, Job_008, Job_015, ...",True,0.995475
M7,"[Job_015, Job_003, Job_009, Job_010, Job_017, ...","[Job_003, Job_015, Job_009, Job_017, Job_008, ...","[Job_003, Job_015, Job_009, Job_017, Job_008, ...",True,0.992743
M8,"[Job_003, Job_010, Job_017, Job_013, Job_019, ...","[Job_003, Job_015, Job_010, Job_017, Job_013, ...","[Job_003, Job_010, Job_017, Job_013, Job_008, ...",True,0.990588
M9,"[Job_015, Job_010, Job_008, Job_012, Job_003, ...","[Job_015, Job_003, Job_008, Job_010, Job_012, ...","[Job_015, Job_003, Job_008, Job_010, Job_012, ...",True,0.990950

In [12]:
T1 = 1440*2
df_compare_02 = seq_tester.analyze_machine_sequences(df_plan_01_bic, df_plan_02_bic, T1)
df_compare_02

,original_sequence,revised_sequence_raw,revised_sequence,changed,kendall_tau
Machine,,,,,
M0,"[Job_028, Job_034, Job_029, Job_027, Job_031, ...","[Job_028, Job_024, Job_034, Job_029, Job_027, ...","[Job_028, Job_034, Job_029, Job_027, Job_031, ...",False,1.000000
M1,"[Job_034, Job_029, Job_027, Job_036, Job_038, ...","[Job_034, Job_029, Job_027, Job_036, Job_038, ...","[Job_034, Job_029, Job_027, Job_036, Job_038, ...",False,1.000000
M2,"[Job_028, Job_034, Job_029, Job_031, Job_036, ...","[Job_034, Job_028, Job_029, Job_031, Job_036, ...","[Job_034, Job_028, Job_029, Job_031, Job_036, ...",True,0.998653
M3,"[Job_014, Job_026, Job_034, Job_022, Job_028, ...","[Job_034, Job_014, Job_026, Job_028, Job_022, ...","[Job_034, Job_014, Job_026, Job_028, Job_022, ...",True,0.996370
M4,"[Job_024, Job_022, Job_021, Job_034, Job_031, ...","[Job_026, Job_016, Job_011, Job_022, Job_024, ...","[Job_022, Job_024, Job_034, Job_021, Job_031, ...",True,0.997580
M5,"[Job_034, Job_014, Job_028, Job_022, Job_029, ...","[Job_021, Job_034, Job_028, Job_014, Job_029, ...","[Job_034, Job_028, Job_014, Job_029, Job_022, ...",True,0.997494
M6,"[Job_026, Job_022, Job_021, Job_028, Job_034, ...","[Job_026, Job_028, Job_024, Job_022, Job_021, ...","[Job_026, Job_028, Job_022, Job_021, Job_034, ...",True,0.997580
M7,"[Job_014, Job_024, Job_021, Job_026, Job_022, ...","[Job_021, Job_014, Job_024, Job_026, Job_022, ...","[Job_021, Job_014, Job_024, Job_026, Job_022, ...",True,0.997740
M8,"[Job_011, Job_026, Job_022, Job_028, Job_034, ...","[Job_014, Job_020, Job_026, Job_028, Job_022, ...","[Job_026, Job_028, Job_022, Job_011, Job_034, ...",True,0.995160
M9,"[Job_026, Job_014, Job_021, Job_028, Job_022, ...","[Job_026, Job_028, Job_021, Job_014, Job_034, ...","[Job_026, Job_028, Job_021, Job_014, Job_034, ...",True,0.995324

In [13]:
T1 = 1440*3
df_compare_03 = seq_tester.analyze_machine_sequences(df_plan_02_bic, df_plan_03_bic, T1, with_position_change=True)
df_compare_03

,original_sequence,revised_sequence_raw,revised_sequence,changed,order_violations,kendall_tau
Machine,,,,,,
M0,"[Job_040, Job_045, Job_057, Job_047, Job_041, ...","[Job_040, Job_045, Job_057, Job_047, Job_041, ...","[Job_040, Job_045, Job_057, Job_047, Job_041, ...",False,[],1.000000
M1,"[Job_043, Job_041, Job_039, Job_057, Job_045, ...","[Job_043, Job_041, Job_039, Job_057, Job_045, ...","[Job_043, Job_041, Job_039, Job_057, Job_045, ...",False,[],1.000000
M2,"[Job_044, Job_043, Job_045, Job_041, Job_057, ...","[Job_044, Job_043, Job_045, Job_041, Job_040, ...","[Job_044, Job_043, Job_045, Job_041, Job_040, ...",True,"[(Job_057, 4, 5), (Job_040, 5, 4)]",0.998942
M3,"[Job_039, Job_037, Job_033, Job_040, Job_057, ...","[Job_040, Job_039, Job_033, Job_037, Job_057, ...","[Job_040, Job_039, Job_033, Job_037, Job_057, ...",True,"[(Job_039, 0, 1), (Job_037, 1, 3), (Job_040, 3...",0.996032
M4,"[Job_039, Job_033, Job_035, Job_037, Job_057, ...","[Job_030, Job_033, Job_039, Job_035, Job_044, ...","[Job_033, Job_039, Job_035, Job_044, Job_037, ...",True,"[(Job_039, 0, 1), (Job_033, 1, 0), (Job_037, 3...",0.995338
M5,"[Job_037, Job_044, Job_039, Job_043, Job_033, ...","[Job_035, Job_044, Job_037, Job_039, Job_033, ...","[Job_044, Job_037, Job_039, Job_033, Job_043, ...",True,"[(Job_037, 0, 1), (Job_044, 1, 0), (Job_043, 3...",0.997115
M6,"[Job_044, Job_042, Job_033, Job_039, Job_057, ...","[Job_044, Job_033, Job_035, Job_042, Job_039, ...","[Job_044, Job_033, Job_042, Job_039, Job_057, ...",True,"[(Job_042, 1, 2), (Job_033, 2, 1)]",0.999038
M7,"[Job_042, Job_033, Job_037, Job_039, Job_044, ...","[Job_032, Job_035, Job_042, Job_033, Job_044, ...","[Job_042, Job_033, Job_044, Job_039, Job_037, ...",True,"[(Job_037, 2, 4), (Job_044, 4, 2)]",0.997203
M8,"[Job_037, Job_030, Job_033, Job_044, Job_040, ...","[Job_042, Job_038, Job_037, Job_033, Job_030, ...","[Job_037, Job_033, Job_030, Job_044, Job_039, ...",True,"[(Job_030, 1, 2), (Job_033, 2, 1), (Job_040, 4...",0.998135
M9,"[Job_042, Job_035, Job_037, Job_039, Job_044, ...","[Job_038, Job_042, Job_044, Job_039, Job_037, ...","[Job_042, Job_044, Job_039, Job_037, Job_035, ...",True,"[(Job_035, 1, 4), (Job_037, 2, 3), (Job_039, 3...",0.993668

## Simple

In [15]:
file = file_template.format(prefix="07b_without",day=1)

df_plan_01 = pd.read_csv(file)
df_plan_01 = df_plan_01.sort_values(by=["Arrival", "Start"]).reset_index(drop=True)
df_plan_01

,Job,Operation,Arrival,Deadline,Machine,Start,Processing Time,End,Tardiness
0,Job_002,9,152.78,1690.473072,M4,1478.14,33.0,1511.14,0.0
1,Job_003,3,207.97,1981.190004,M4,1511.74,99.0,1610.74,0.0
2,Job_003,4,207.97,1981.190004,M6,1610.74,9.0,1619.74,0.0
3,Job_003,5,207.97,1981.190004,M8,1619.74,52.0,1671.74,0.0
4,Job_003,6,207.97,1981.190004,M7,1671.74,85.0,1756.74,0.0
...,...,...,...,...,...,...,...,...,...
728,Job_150,5,11404.04,12473.386415,M5,11605.04,11.0,11616.04,0.0
729,Job_150,6,11404.04,12473.386415,M6,11616.04,62.0,11678.04,0.0
730,Job_150,7,11404.04,12473.386415,M7,11678.04,56.0,11734.04,0.0
731,Job_150,8,11404.04,12473.386415,M8,11734.04,44.0,11778.04,0.0
732,Job_150,9,11404.04,12473.386415,M9,11778.04,21.0,11799.04,0.0

In [16]:
file = file_template.format(prefix="07b_without",day=2)
df_plan_02 = pd.read_csv(file)

file = file_template.format(prefix="07b_without",day=3)
df_plan_03 = pd.read_csv(file)

### Vergleich (Kendall Tau)

In [18]:
df_compare_01b = seq_tester.analyze_machine_sequences(df_plan_init, df_plan_01, 1440)
df_compare_01b

,original_sequence,revised_sequence_raw,revised_sequence,changed,kendall_tau
Machine,,,,,
M0,"[Job_017, Job_019, Job_011, Job_016, Job_023, ...","[Job_012, Job_017, Job_011, Job_019, Job_020, ...","[Job_017, Job_011, Job_019, Job_020, Job_023, ...",True,0.937095
M1,"[Job_017, Job_019, Job_016, Job_013, Job_018, ...","[Job_010, Job_017, Job_011, Job_019, Job_016, ...","[Job_017, Job_011, Job_019, Job_016, Job_013, ...",True,0.929078
M2,"[Job_012, Job_017, Job_019, Job_013, Job_008, ...","[Job_013, Job_012, Job_008, Job_017, Job_019, ...","[Job_013, Job_012, Job_008, Job_017, Job_019, ...",True,0.959184
M3,"[Job_008, Job_017, Job_003, Job_019, Job_013, ...","[Job_015, Job_008, Job_009, Job_011, Job_017, ...","[Job_008, Job_011, Job_017, Job_019, Job_003, ...",True,0.909020
M4,"[Job_003, Job_009, Job_010, Job_017, Job_012, ...","[Job_002, Job_003, Job_015, Job_009, Job_010, ...","[Job_003, Job_009, Job_010, Job_012, Job_017, ...",True,0.951735
M5,"[Job_008, Job_017, Job_013, Job_019, Job_003, ...","[Job_008, Job_010, Job_013, Job_011, Job_017, ...","[Job_008, Job_013, Job_011, Job_017, Job_019, ...",True,0.928163
M6,"[Job_003, Job_015, Job_010, Job_017, Job_008, ...","[Job_003, Job_008, Job_010, Job_015, Job_019, ...","[Job_003, Job_008, Job_010, Job_015, Job_019, ...",True,0.951735
M7,"[Job_015, Job_003, Job_009, Job_010, Job_017, ...","[Job_003, Job_015, Job_008, Job_009, Job_010, ...","[Job_003, Job_015, Job_008, Job_009, Job_010, ...",True,0.939042
M8,"[Job_003, Job_010, Job_017, Job_013, Job_019, ...","[Job_003, Job_015, Job_010, Job_013, Job_019, ...","[Job_003, Job_010, Job_013, Job_019, Job_023, ...",True,0.927843
M9,"[Job_015, Job_010, Job_008, Job_012, Job_003, ...","[Job_008, Job_012, Job_015, Job_003, Job_010, ...","[Job_008, Job_012, Job_015, Job_003, Job_010, ...",True,0.938160

In [19]:
T1 = 1440*2
df_compare_02b = seq_tester.analyze_machine_sequences(df_plan_01, df_plan_02, T1)
df_compare_02b

,original_sequence,revised_sequence_raw,revised_sequence,changed,kendall_tau
Machine,,,,,
M0,"[Job_029, Job_034, Job_031, Job_036, Job_030, ...","[Job_022, Job_028, Job_034, Job_024, Job_031, ...","[Job_034, Job_031, Job_036, Job_029, Job_038, ...",True,0.944848
M1,"[Job_029, Job_034, Job_033, Job_036, Job_032, ...","[Job_027, Job_034, Job_035, Job_036, Job_032, ...","[Job_034, Job_035, Job_036, Job_032, Job_038, ...",True,0.941945
M2,"[Job_029, Job_034, Job_031, Job_032, Job_027, ...","[Job_034, Job_028, Job_029, Job_032, Job_031, ...","[Job_034, Job_029, Job_032, Job_031, Job_036, ...",True,0.965059
M3,"[Job_027, Job_014, Job_028, Job_034, Job_030, ...","[Job_014, Job_027, Job_036, Job_034, Job_038, ...","[Job_014, Job_027, Job_036, Job_034, Job_038, ...",True,0.927405
M4,"[Job_025, Job_024, Job_022, Job_028, Job_031, ...","[Job_022, Job_024, Job_026, Job_025, Job_021, ...","[Job_022, Job_024, Job_025, Job_021, Job_029, ...",True,0.947399
M5,"[Job_027, Job_028, Job_021, Job_029, Job_034, ...","[Job_026, Job_021, Job_034, Job_027, Job_032, ...","[Job_021, Job_034, Job_027, Job_032, Job_014, ...",True,0.940714
M6,"[Job_024, Job_028, Job_026, Job_021, Job_022, ...","[Job_024, Job_022, Job_021, Job_028, Job_026, ...","[Job_024, Job_022, Job_021, Job_028, Job_026, ...",True,0.957919
M7,"[Job_025, Job_014, Job_018, Job_021, Job_020, ...","[Job_020, Job_018, Job_014, Job_021, Job_024, ...","[Job_020, Job_018, Job_014, Job_021, Job_024, ...",True,0.959037
M8,"[Job_025, Job_028, Job_021, Job_020, Job_026, ...","[Job_020, Job_021, Job_025, Job_022, Job_028, ...","[Job_020, Job_021, Job_025, Job_022, Job_028, ...",True,0.952542
M9,"[Job_028, Job_014, Job_021, Job_026, Job_027, ...","[Job_025, Job_014, Job_021, Job_028, Job_026, ...","[Job_014, Job_021, Job_028, Job_026, Job_022, ...",True,0.956750

In [20]:
T1 = 1440*3
df_compare_03b = seq_tester.analyze_machine_sequences(df_plan_02, df_plan_03, T1, with_position_change=True)
df_compare_03b

,original_sequence,revised_sequence_raw,revised_sequence,changed,order_violations,kendall_tau
Machine,,,,,,
M0,"[Job_041, Job_046, Job_047, Job_048, Job_043, ...","[Job_047, Job_053, Job_046, Job_041, Job_048, ...","[Job_047, Job_053, Job_046, Job_041, Job_048, ...",True,"[(Job_041, 0, 3), (Job_046, 1, 2), (Job_047, 2...",0.970777
M1,"[Job_039, Job_043, Job_041, Job_045, Job_047, ...","[Job_043, Job_041, Job_039, Job_047, Job_045, ...","[Job_043, Job_041, Job_039, Job_047, Job_045, ...",True,"[(Job_039, 0, 2), (Job_043, 1, 0), (Job_041, 2...",0.962842
M2,"[Job_040, Job_041, Job_048, Job_047, Job_053, ...","[Job_048, Job_053, Job_040, Job_041, Job_047, ...","[Job_048, Job_053, Job_040, Job_041, Job_047, ...",True,"[(Job_040, 0, 2), (Job_041, 1, 3), (Job_048, 2...",0.970777
M3,"[Job_039, Job_037, Job_040, Job_033, Job_043, ...","[Job_040, Job_039, Job_037, Job_033, Job_043, ...","[Job_040, Job_039, Job_037, Job_033, Job_043, ...",True,"[(Job_039, 0, 1), (Job_037, 1, 2), (Job_040, 2...",0.959325
M4,"[Job_030, Job_035, Job_037, Job_044, Job_045, ...","[Job_035, Job_037, Job_030, Job_041, Job_040, ...","[Job_035, Job_037, Job_030, Job_041, Job_040, ...",True,"[(Job_030, 0, 2), (Job_035, 1, 0), (Job_037, 2...",0.970192
M5,"[Job_037, Job_039, Job_044, Job_043, Job_033, ...","[Job_037, Job_044, Job_039, Job_043, Job_040, ...","[Job_037, Job_044, Job_039, Job_043, Job_040, ...",True,"[(Job_039, 1, 2), (Job_044, 2, 1), (Job_033, 4...",0.967308
M6,"[Job_033, Job_035, Job_039, Job_044, Job_042, ...","[Job_033, Job_035, Job_044, Job_039, Job_042, ...","[Job_033, Job_035, Job_044, Job_039, Job_042, ...",True,"[(Job_039, 2, 3), (Job_044, 3, 2), (Job_041, 6...",0.973893
M7,"[Job_030, Job_035, Job_033, Job_032, Job_042, ...","[Job_035, Job_032, Job_042, Job_033, Job_040, ...","[Job_035, Job_032, Job_042, Job_033, Job_040, ...",True,"[(Job_030, 0, 5), (Job_035, 1, 0), (Job_033, 2...",0.966752
M8,"[Job_042, Job_033, Job_030, Job_039, Job_044, ...","[Job_038, Job_042, Job_033, Job_040, Job_044, ...","[Job_042, Job_033, Job_040, Job_044, Job_039, ...",True,"[(Job_030, 2, 6), (Job_039, 3, 4), (Job_044, 4...",0.969231
M9,"[Job_037, Job_039, Job_035, Job_042, Job_044, ...","[Job_039, Job_037, Job_038, Job_035, Job_042, ...","[Job_039, Job_037, Job_035, Job_042, Job_044, ...",True,"[(Job_037, 0, 1), (Job_039, 1, 0), (Job_043, 6...",0.970149